
<div style=" margin-top: 6.5rem; margin-left: 14rem; ">
<!--<p-selectButton *ngIf="managerRole" [options]="selectAllOrOnlyMines"  optionLabel="label" optionValue="value"></p-selectButton>-->
  <br>
  <div style="display: flex; justify-content: flex-start; color: #bdd5e3; flex-direction: row; gap: 2rem; flex-grow: 1; flex-wrap: wrap">
    <p-card *ngFor="let user of allUsers$ |async" header="{{user.fullName}}" subheader="{{user.email}}" [style]="{ width: '25rem', background:'#daf0fd'}" >
      <ng-template pTemplate="header">
<!--        <div style="display: flex; justify-content: center; background: #60889f; height: 3rem">{{user.fullName}}</div>-->
<!--        <img alt="Card" src="https://png.pngtree.com/png-vector/20220901/ourmid/pngtree-company-employee-avatar-icon-wearing-a-suit-png-image_6133899.png" />-->
      </ng-template>

        <ng-template pTemplate="footer">

          <div style="display: flex; gap: 1rem; margin-bottom: 1.5rem">
            <p-button tooltipPosition="top" pTooltip="Entretiens" *ngIf="!employeeRole" [rounded]="true"  routerLink="/annualInterview/list/employee/{{user?.userId}}" severity="secondary" icon="pi pi-file-edit"></p-button>
            <p-button tooltipPosition="top" pTooltip="Notes" *ngIf="!employeeRole || (username === user.username && employeeRole)" [rounded]="true"   routerLink="/annualInterview/notes/{{user?.userId}}" severity="primary" icon="pi pi-chart-line"></p-button>
            <p-button tooltipPosition="top" pTooltip="Détails de l'employé" *ngIf="!employeeRole" [rounded]="true"   (click)="openUserDetails(user)" severity="help" icon="pi pi-user" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
            <p-button tooltipPosition="top" pTooltip="FeedBacks" [rounded]="true" *ngIf="!employeeRole || (username === user.username && employeeRole)" (click)="displayFeedBacks(user)" severity="warning" icon="pi pi-comments" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
          </div>


        </ng-template>
    </p-card>
  </div>


</div>

<p-dialog [(visible)]="userDetailsDialog" [modal]="true" [style]="{width: '450px'}" header="Employee Details" styleClass="p-fluid">
  <ng-template pTemplate="content">

    <div class="field" *ngIf="userDetails">
      <br>
      <div style="display: flex; flex-direction: row; gap: 10px">
        <span><b>First name: </b></span>
        <p> {{userDetails?.firstname}}</p>
      </div>
      <br>
      <div style="display: flex; flex-direction: row;gap: 2px">
        <span><b>Last name: </b></span>
        <p>{{userDetails?.lastname}}</p>
      </div>
      <br>
      <div style="display: flex; flex-direction: row;gap: 2px">
        <span><b>Role name: </b></span>
        <p>{{userDetails?.roleName}}</p>
      </div>
      <br>
      <div style="display: flex; flex-direction: row;">
        <span><b>Email: </b></span>
        <p>{{userDetails?.email}}</p>
      </div><br>
      <div style="display: flex; flex-direction: row;gap: 2px">
        <span><b>Employee off days available: </b></span>
        <p>{{userDetails?.holidayCountDays +7}} days</p>
      </div>

    </div>

  </ng-template>

</p-dialog>

<p-dialog [modal]="true" header="FeedBacks pour {{candidateNameFeedBack}}" [(visible)]="feedBacks" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
  <div style="display: flex; justify-content: center; flex-direction: column">
    <div style="display: flex; justify-content: flex-end; flex-direction: row">
      <img src="../../../../assets/candidate/feedBack.png" style="width: 4vw; display: flex; justify-content: center">
    </div>
  </div>
  <div>
    <p-fieldset legend="Feedbacks RH"[toggleable]="true">
      <form [formGroup]="feedRhBackForm" *ngIf="rhRole">
        <div style="display: flex; flex-direction: row; width: 100%;">
          <div style="display: flex; flex-direction: column; width: 70%;">
            <label htmlFor="feedback">Saisissez vos commentaires RH pour cet employé.</label>
            <input formControlName="feedBackText" pInputText id="feedback" aria-describedby="feedBack-help" /><br>
          </div>
          <div class="buttons" style="width: 30%;">
            <button  class="butSee" (click)="submitRhFeedBack()">Ajouter</button>
          </div>
        </div>

      </form>
      <ul>
        <li *ngFor="let feedback of rhFeedbacksForCandidate">{{feedback.feedBackText}}</li>
      </ul>
    </p-fieldset>
    <br>
    <p-fieldset legend="Feedbacks Technique"[toggleable]="true" >
      <form [formGroup]="feedTechBackForm" *ngIf="managerRole">
        <div style="display: flex; flex-direction: row; width: 100%;">
          <div style="display: flex; flex-direction: column; width: 70%;">
            <label htmlFor="feedback">Saisissez vos commentaires technique pour cet employé.</label>
            <input formControlName="feedBackText" pInputText id="feedback" aria-describedby="feedBack-help" /><br>
          </div>
          <div class="buttons" style="width: 30%;">
            <button  class="butSee" (click)="submitTechFeedBack()">Ajouter</button>
          </div>
        </div>
      </form>
      <ul>
        <li *ngFor="let feedback of techFeedbacksForCandidate">{{feedback.feedBackText}}</li>
      </ul>
    </p-fieldset>
  </div>
</p-dialog>

