<!--<div routerLink="/login/registerCondidate" class="register">Register for condidates</div>-->
<div>
  <form [formGroup]="loginForm">
    <div style="display: flex; flex-direction:column; justify-content: center; align-items: center; height: 100vh ">

      <button class="googlebtnSize" mat-stroked-button><i class="fab fa-google"></i>  Continue avec google</button>
      <div style="display: flex; flex-direction: column">
        <label>Username</label>
        <mat-form-field class="example-full-width" appearance="outline">
          <input formControlName="username" matInput>
        </mat-form-field>
        <div *ngIf="loginForm.get('username')!.errors" style="margin-top: -1.5rem">
          <small style="color: red; margin-top: -1.5rem" *ngIf="loginForm.get('username')!.hasError('required') && loginForm.get('username')!.touched ">Champs username est obligatoire</small>
        </div>
      </div>
      <div style="display: flex; flex-direction: column">
        <label>mot de passe</label>
        <mat-form-field class="example-full-width" appearance="outline">
          <input formControlName="password" matInput type="password">
        </mat-form-field>
        <small style="color: red; margin-top: -1.5rem" *ngIf="loginForm.get('password')!.invalid && loginForm.get('password')!.touched ">Le champ mot de passe doit contenir au moins 4 caractères</small>
        <p style="margin: 1%">Mot de passe oublié ? <span style="font-weight: bold">Cliquez ici</span></p>

      </div>

      <mat-checkbox style="margin: 1%; font-weight: 560">Souviens de moi!</mat-checkbox>

      <button class="btn blue" mat-raised-button (click)="login()" [disabled]="loginForm.invalid" >Connectez-vous</button>

    </div>

  </form>
</div>
<img src="../../../../assets/loginPage/Groupe%2010743.png" style="position: absolute; top: -7rem; right: -23.8rem" >



<p-toast position="center" key="failed"  [baseZIndex]="5000">
  <ng-template pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1; display: flex; flex-direction: column">
      <div class="p-text-center" style="text-align: center">
        <i class="pi pi-times-circle" style="font-size: 3rem"></i>
        <h3>problème de connection !!</h3>
        <h4>Verifier vos données saisies.</h4>s
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-5">
          <button (click)="onConfirm()" type="button" pButton label="OK" class="p-button-danger"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

<p-toast position="center" key="userDisabled"  [baseZIndex]="5000">
  <ng-template pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1; display: flex; flex-direction: column">
      <div class="p-text-center" style="text-align: center">
        <i class="pi pi-times-circle" style="font-size: 3rem"></i>
        <h3>problème de connection !!</h3>
        <h4>Verifier vos données saisies.</h4>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-5">
          <button (click)="onDisabledConfirm()" type="button" pButton label="OK" class="p-button-danger"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>

