<div style="display: flex; flex-direction: column; gap: 1rem; margin-top: 8rem; margin-left: 17rem; width: 80vw">
  <h4><b>Entretien Pour: </b>{{interviewDetails?.userFullName}}</h4>
  <h4><b>Periode:</b> {{interviewDetails?.period}}</h4>
  <h4><b>Description: </b>{{interviewDetails?.interviewDescription}}</h4>
</div>
<hr style="width: 80vw; margin-left: 17rem">
<div  style="display: flex; flex-direction: column; gap: 1rem; margin-left: 17rem; width: 80vw" *ngIf="interviewDetails?.questions">
  <form action="">
    <div *ngFor="let question of interviewDetails.questions; let i = index">
      <label><b>Question {{i+1}}: </b>{{question?.question}}</label><br>
      <input value="{{question?.answer}}" (change)="submitNewAnswer($event, question?.questionId)" type="text" pInputText style="border-radius: 15px; width: 80vw">
    </div>
    <br>
    <div style="display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 1.5rem">
      <p-button severity="help" icon="pi pi-check" label="Terminer" (click)="completeInterview(interviewDetails?.interviewId, interviewDetails?.userId)"></p-button>
    </div>
  </form>
</div>
<p-toast></p-toast>
