
<div style="display: flex; flex-direction: row; margin-top: 9rem; margin-left: 14rem; margin-bottom: 3rem">
  <button mat-raised-button class="addBtnColor" (click)="showModalDialog()">+ New Request</button>
</div>
<div style="margin-top: .4rem; margin-left: 14rem">

<p-selectButton *ngIf="requests.length !==0" (onOptionClick)="filterList($event)" [options]="requestOptions"  optionLabel="label" optionValue="value"></p-selectButton>
</div>

<p-scrollPanel [style]="{ width: '100%', height: '50%', marginLeft: '10rem'}">
  <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; margin-bottom: 150px; margin-top: 1rem; margin-left: 5rem">

    <div *ngFor="let req of requests" class="candidateList" [ngStyle]="{'background-image': 'linear-gradient(to right, '+req?.statusDto?.statusColor+' 4.5%, rgba(0,0,0,0) 1%)'} ">

      <div style="display: flex; flex-direction: row; justify-content: flex-start; width: 40vw">
        <!--        <div class="customShape" [ngStyle]="{'background-color':req.statusColor}" (click)="openStatusMenu(req)" #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu"><mat-icon style="color: white">keyboard_arrow_down</mat-icon></div>-->
        <app-request-menu-status *ngIf="!employeeRole" [request]="req"></app-request-menu-status>
        <div style="margin-left: 2rem; margin-top: 1rem; width: 10rem">
          <div style="display: flex; flex-direction: row; justify-content: flex-start; margin-bottom: .8rem">
            <div *ngIf="req.urgent">
              <img class="warningImg" src="../../../../assets/requests/warning.png">
            </div>
            <div style="display: flex; flex-direction: column; justify-content: center; width: 20vw; gap: 1rem">
              <div [ngStyle]="{'marginLeft': req.urgent ? '1.3rem': '.001rem'}" style="text-align: center"><b>{{req.requestTitle | titlecase}}</b></div>
              <div [ngStyle]="{'marginLeft': req.urgent ? '1.3rem': '.001rem'}"style=";width: 10rem "><b>From </b>{{req?.userDto?.firstname | titlecase}} {{req?.userDto?.lastname | titlecase}}</div>
            </div>

          </div>
          <div style="color: #4e5652; width: 20vw; padding-right: 1rem">{{req.requestDescription}}</div>
        </div>
      </div>
    </div>

  </div>

</p-scrollPanel>

<mat-menu #menu="matMenu">

  <button mat-menu-item *ngFor="let state of statusOptions">
    <div style="display: flex; flex-direction: row" >
      <div class="menuItems" [ngStyle]="{'background-color':state.statusColor}"></div>
      <span>{{state.statusName}}</span>
    </div>
  </button>

  <button mat-menu-item disabled>
    <mat-icon>delete_outline</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>

<p-dialog header="New Request" [(visible)]="displayModal" [modal]="true" [style]="{width: '70vw', height: '80vh'}"
          >

  <form [formGroup]="requestForm">
    <div style="display: flex; justify-content: space-around; flex-direction: row; margin-bottom: 2rem">
      <p-selectButton [(ngModel)]="requestCategory" [ngModelOptions]="{standalone: true}" [options]="categoryInfo"  optionLabel="label" optionValue="value"></p-selectButton>
    </div>
    <div style="display: flex; flex-direction: column">
      <div style="display: flex; flex-direction: column; width: 100%">
        <label class="labelMarge">Request title</label>
        <input formControlName="requestTitle" type="text" pInputText [ngClass]=" {'ng-invalid ng-dirty': requestForm.get('requestTitle')!.hasError('required') && requestForm.get('requestTitle')!.touched}">
        <small style="color: red" *ngIf="requestForm.get('requestTitle')!.hasError('required') && requestForm.get('requestTitle')!.touched">Field Required</small>

      </div>
      <br>
      <div style="display: flex; justify-content: center;" *ngIf="requestCategory!==undefined && requestCategory.categoryName !=='OTHER' ">
        <div style="display: flex; flex-direction: row; flex-grow: 1; justify-content: flex-start">
          <div style="display: flex; flex-direction: column">
            <label class="labelMarge">Holiday period</label>
            <p-calendar formControlName="holidayPeriod" [ngClass]=" {'ng-invalid ng-dirty': requestForm.get('holidayPeriod')!.hasError('required') && requestForm.get('holidayPeriod')!.touched}" [iconDisplay]="'input'" selectionMode="range" [showIcon]="true" ></p-calendar>
            <small style="color: red" *ngIf="requestForm.get('holidayPeriod')!.hasError('required') && requestForm.get('holidayPeriod')!.touched">Field Required</small>

          </div>
        </div>

      </div>


<!--      <div style="display: flex; flex-direction: row">-->
<!--        <div style="display: flex; flex-direction: column">-->
<!--          <label class="labelMarge">Deadline</label>-->
<!--          <div style="display: flex; flex-direction: row; width: 50%">-->
<!--            <p-dropdown  [style]="{marginRight: '.5rem'}" [options]="days"></p-dropdown>-->
<!--            <p-dropdown  [style]="{marginLeft: '.5rem', marginRight: '.5rem'}" [options]="months" optionLabel="name"></p-dropdown>-->
<!--            <p-dropdown  [style]="{marginLeft: '.5rem', marginRight: '.5rem'}" [options]="years" ></p-dropdown>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
    <br>
    <div style="display: flex; flex-direction: row">
<!--      <div style="display: flex; flex-direction: column; width: 22%">-->
<!--        <label class="labelMarge">Post required</label>-->
<!--        <input type="text" pInputText>-->
<!--      </div>-->
      <div style="display: flex; flex-direction: column; width: 100%">
        <label class="labelMarge">Description</label>
        <textarea formControlName="requestDescription" [ngClass]=" {'ng-invalid ng-dirty': requestForm.get('requestDescription')!.hasError('required') && requestForm.get('requestDescription')!.touched}"pInputTextarea></textarea>
        <small style="color: red" *ngIf="requestForm.get('requestDescription')!.hasError('required') && requestForm.get('requestDescription')!.touched">Field Required</small>

      </div>

    </div>
    <br>
    <div style="display: flex; flex-direction: row; justify-content: flex-start">
      <div style="display: flex; flex-direction: column">
        <img class="warningImg2" src="../../../../assets/requests/warning.png">
      </div>
      <div style="margin-top: 1rem; margin-left: 1.2rem">
        <p-checkbox formControlName="urgent" [binary]="true" inputId="binary" [style]="{marginRight: '.7rem'}"></p-checkbox>
        <label>Urgent</label>
      </div>

    </div>

  </form>
  <ng-template pTemplate="footer">
    <button pButton icon="pi pi-times" (click)="displayModal=false" class="p-button-danger" label="Cancel"></button>
    <button pButton icon="pi pi-check" label="Submit" [disabled]="!requestForm.valid" (click)="submitRequestForm()"></button>
  </ng-template>
</p-dialog>
<p-toast></p-toast>
